{
    "tabWidth": 4,
    "printWidth": 120,
    "arrowParens": "always",
    "semi": false,
    "singleQuote": true,
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "auto",
    "trailingComma": "es5",
    "jsxSingleQuote": true
}
